---

##  - name: check env role start
##    ansible.builtin.command: /usr/bin/env


  - smabot.hashivault.normalize_readwrite_secrets_args:
    register: _tmp_normed_cfg
    no_log: >-
      {{ smabot_hashivault_readwrite_secrets_args.hide_secrets | default(True) }}

  - set_fact:
      smabot_hashivault_readwrite_secrets_args_normed: "{{ _tmp_normed_cfg.normalized }}"
    no_log: >-
      {{ _tmp_normed_cfg.normalized.hide_secrets }}


  - set_fact:
      smabot_hashivault_readwrite_rolepath: "{{ role_path }}"


  - block:

      - set_fact:
          _tmp_my_tasks_file: "{{ role_path }}/tasks/venv_tasks.yml"

      - ansible.builtin.include_role:
          name: smabot.base.run_inside_venv
        vars:
          smabot_base_run_inside_venv_cfg:
            tasks: "{{ _tmp_my_tasks_file }}"

    when: smabot_hashivault_readwrite_secrets_args_normed.use_venv.enabled is truthy


  - include_tasks: venv_tasks.yml
    when: smabot_hashivault_readwrite_secrets_args_normed.use_venv.enabled is falsy

