
##
## as always we need explicit read / pass through access on any root 
## elements of our paths (except the very first level, e.g. "sys/")
##
path "sys/mounts" {
  capabilities = [ "list", "read" ]
}


##
## mounting
##
path "{{ _hvault_semp }}" {
  capabilities = [ "create", "read", "update", "delete", "list" ]
}


##
## configuring
##
path "{{ _hvault_semp }}/*" {
##  capabilities = [ "create", "read", "update", "delete", "sudo" ]
  capabilities = [ "create", "read", "update", "delete", "list" ]
}

