---

## TODO: refactor policy config subsystem so that all policies from all the different source are handle once in a combined and uniq fashion

    ## support vars.d dirs
  - include_role:
      name: smabot.base.expand_vardirs


  - smabot.hashivault.normalize_config_instance_args:
    register: _tmp_normed_cfg
    no_log: true

  - set_fact:
      smabot_hashivault_config_instance_args_normed: "{{ _tmp_normed_cfg.normalized }}"
    no_log: "{{_tmp_normed_cfg.normalized.hide_secrets}}"


  - set_fact:
      _smabot_hashivault_cfg_instance_vault_env:
         VAULT_ADDR: >-
           {{ smabot_hashivault_config_instance_args_normed.connection.scheme
              ~ '://127.0.0.1:'
              ~ smabot_hashivault_config_instance_args_normed.connection.port }}

         ## for the local ip connection ssl verify will
         ## probably fail most of the time
         VAULT_SKIP_VERIFY: true


  - block:

      - name: assure initial setup done
        ansible.builtin.include_role:
          name: smabot.hashivault.config_initial
        vars:
          smabot_hashivault_config_initial_args: >-
            {{ smabot_hashivault_config_instance_args_normed.initial_config }}

    environment: "{{ _smabot_hashivault_cfg_instance_vault_env }}"


    ## undo bad ssl skips from here on on default
##  - set_fact: # note: technically this should work also, but it seems there is abug in hashimodules not interpreting explicitly set to false correctly
##      _smabot_hashivault_cfg_instance_vault_env: >-
##         {{ _smabot_hashivault_cfg_instance_vault_env | combine({
##              'VAULT_SKIP_VERIFY': False,
##         }) }}
##    when: smabot_hashivault_config_instance_args_normed.connection.validate_certs

  - set_fact:
      _smabot_hashivault_cfg_instance_vault_env: {}
    when: smabot_hashivault_config_instance_args_normed.connection.validate_certs


    ##
    ## note: as we will use from here on only the rest api to access
    ##   the new vault it could run in theory on any machine, no
    ##   necessary the target, for example on localhost/ansible
    ##   controller, but then we would have as additional dependency
    ##   that the controller must all necessary py libs and such
    ##   preinstalled. because of that we actually still run on
    ##   target host for now
    ##
  - include_tasks: using_restapi.yml

