---

  - set_fact:
      smabot_hashivault_cfg_instance_global_settings: {}
      _smabot_hashivault_cfg_instance_vault_env: >-
        {{ _smabot_hashivault_cfg_instance_vault_env | combine({
             'VAULT_ADDR': smabot_hashivault_config_instance_args_normed.server_url
           })
        }}


  - name: >-
      vault config: use initial root token for initial auth
    set_fact:
      _smabot_hashivault_cfg_instance_vault_env: >-
        {{ _smabot_hashivault_cfg_instance_vault_env | combine({
             'VAULT_TOKEN': smabot_hashivault_init_state.key_setup.root_token
           })
        }}

    no_log: true
    when: smabot_hashivault_first_init


    ##
    ## on first time initial setup we use the root token for this
    ## part for authing, on any later runs we need to login here
    ## with an existing management user/approle
    ##
  - block:

      - set_fact:
          _tmp_role_call_args: >-
            {{ smabot_hashivault_login_args | default({}, True)
             | combine(smabot_hashivault_config_instance_args_normed.login,
                 recursive=True, list_merge='append'
             ) }}

      - name: vault config 1st login
        ansible.builtin.include_role:
          name: smabot.hashivault.vault_login
        vars:
          smabot_hashivault_login_args: >-
            {{ _tmp_role_call_args }}

      - name: >-
          vault config 1st login: update auth token
        set_fact:
           _smabot_hashivault_cfg_instance_vault_env: >-
             {{ _smabot_hashivault_cfg_instance_vault_env
              | combine({'VAULT_TOKEN': smabot_hashivault_login_creds.token}) }}
        no_log: true

    when: not smabot_hashivault_first_init
    environment: "{{ _smabot_hashivault_cfg_instance_vault_env }}"


  - set_fact:
      _approle_creds: {}
      _policy_meta: >-
         {{ smabot_hashivault_config_instance_args_normed.policies.policy_meta }}


  - block:

      ##
      ## handle's all the stuff which must be configured so "user login"
      ## becomes possible like installing policies, enabling auth
      ## methods, etc.
      ##
      - include_tasks: config_pre_login.yml

      - name: vault config login post pre-login part
        ansible.builtin.include_role:
          name: smabot.hashivault.vault_login
        vars:
          smabot_hashivault_login_args: >-
            {{ smabot_hashivault_config_instance_args_normed.login
             | smabot.hashivault.change_login_method(
                 method='basic', params=_vaultman_creds
               )
            }}

    environment: "{{ _smabot_hashivault_cfg_instance_vault_env }}"


  - name: >-
      vault config: set final config auth token
    set_fact:
      smabot_hashivault_cfg_instance_global_settings: >-
        {{ smabot_hashivault_cfg_instance_global_settings
         | ansible.builtin.combine({'use_vault_global_login': True})
        }}
      _smabot_hashivault_cfg_instance_vault_env: >-
         {{ _smabot_hashivault_cfg_instance_vault_env
          | combine({'VAULT_TOKEN': smabot_hashivault_login_creds.token}) }}
    no_log: true


  - block:

      ##
      ## note: we explicitly do this after login with "normal" approle
      ## creds, this leaves us more leeway for debugging in the case
      ## that login fails for some reason
      ##
      - name: revert / invalidate root token
        terryhowe.hashivault.hashivault_token_revoke:
          token: "{{ smabot_hashivault_init_state.key_setup.root_token }}"
        when: smabot_hashivault_first_init


      - include_tasks: config_post_login.yml

    environment: "{{ _smabot_hashivault_cfg_instance_vault_env }}"


  - set_fact:
      smabot_hashivault_config_inst_return:
        credentials:
          approle: "{{ _approle_creds }}"
    no_log: true

