---

##  - debug:
##      var: smabot_hashivault_login_args


  - set_fact:
      smabot_hashivault_login_args_normed: "{{ smabot_hashivault_login_args }}"
    no_log: True


    ##
    ## optionally assure vault is unsealed before trying to connect
    ## to it, unfortunately we need the master key(s) for this
    ##
  - block:

      - include_tasks: >-
          {{ role_path }}/../config_initial/tasks/prepare_system.yml

        ##
        ## note: in principle this seal check is already handled by
        ##   called unseal_vault role, but get_master_keys can be
        ##   quite work intensive, so it is a good optimisation to repeat
        ##   this rather cheap call here and do the work intensive stuff
        ##   only when some unsealing is actually necessary
        ##
      - name: check vault seal status
        terryhowe.hashivault.hashivault_status:
          url: "{{ smabot_hashivault_login_args_normed.server_url }}"
          verify: >-
            {{ smabot_hashivault_login_args_normed.connection.validate_certs
             | default(omit) }}
        register: _tmp_vstat_check


      - block:

          - include_tasks: get_master_keys.yml

          - set_fact:
              smabot_hashivault_unseal_vault_args:
                server_url: "{{ smabot_hashivault_login_args_normed.server_url }}"
                connection: >-
                  {{ smabot_hashivault_login_args_normed.get('connection', {}) }}
                master_keys: >-
                  {{ _tmp_hvault_masterkeys }}
            no_log: true

          - name: ensure vault is unsealed
            ansible.builtin.include_role:
              name: smabot.hashivault.unseal_vault

        when: _tmp_vstat_check.status.sealed

        ## explicitly unset variables which contain master keys
        ## as this secret should not be kept longer around
        ## than necessary
      - set_fact:
          smabot_hashivault_unseal_vault_args: null
          _tmp_hvault_masterkeys: null

    when: smabot_hashivault_login_args_normed.get('master_keys', False)


  - include_tasks: get_login_creds.yml


  - name: login to vault / aquire auth token
    smabot.hashivault.hashivault_login:
      authtype: approle
      login_mount_point: "{{ smabot_hashivault_login_creds.login_mount }}"
      role_id: "{{ smabot_hashivault_login_creds.id }}"
      secret_id: "{{ smabot_hashivault_login_creds.secret }}"
      url: "{{ smabot_hashivault_login_args_normed.server_url }}"
      verify: "{{ smabot_hashivault_login_args_normed.connection.validate_certs | default(omit) }}"
    register: _tmp_login
    no_log: true


  - set_fact:
      smabot_hashivault_login_creds: >-
        {{ smabot_hashivault_login_creds
         | combine({'token': _tmp_login.login.token}) }}
    no_log: true


  - set_fact:
      smabot_hashivault_connection_env:
        VAULT_ADDR: >-
          {{ smabot_hashivault_login_args_normed.server_url }}
        VAULT_TOKEN: >-
          {{ _tmp_login.login.token }}
    no_log: true


  - set_fact:
      smabot_hashivault_connection_env: >-
        {{ smabot_hashivault_connection_env
         | combine({'VAULT_SKIP_VERIFY': True}) }}
    no_log: true
    when: >-
      not (smabot_hashivault_login_args_normed.connection.validate_certs
      | default(True))

